footer {
    background-color: $green1;
    color: $notwhite;
    padding: 10px 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .footer-column {
    
    text-align: center;
    padding: 10px 0; 
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  
  .footer-column a {
    font-size: 20px;

    color: $notwhite;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .footer-column img.logo {
    width: 70%;
    margin: 20px 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  
  .social-icons img {
    width: 50px;
    height: 50px;
  }
  
  .contact-item {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
  }
  
  @media screen and (min-width: 768px) {
   
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
  
    .footer-column {
        margin-bottom: 0;
    }
  
    .social-icons a img {
        width: 70px;
        height: 70px;
    }
  
    .footer-bottom p {
        font-size: 16px;
    }
  .left-align{
    text-align: left;
    padding-left: 30px;
  }
  
  .contact-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .center-alight {
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 40px;
  }
  
  .footer-container {
    padding: 20px;
  }
  
  }