body {
  background-color: $notwhite;
  margin: 10px 0px 0px 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $notwhite;
  padding: 0;
}

body h1 {
  font-size: 28px;
  font-family: $rubriker;
}

body .h2 {
  font-size: 26px;
  color: black;
  font-family: $rubriker;

}

body h3 {
  font-size: 22px;
  font-family: $rubriker;
}

body h4 {
  font-size: 18px;
  font-family: $rubriker;
}

body p {
  font-size: 16px;
  font-family: $texter;
}

body a {
  font-size: 16px;
  font-family: $texter;

}

.omoss-staff{
  margin-bottom: 40px;
}

.omoss-info-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.omoss-info-about h1,
.omoss-info-about p,
.omoss-info-about i {
  justify-content: center;
  display: flex;
  text-align: center;
  max-width: 540px;
  padding: 0px 10px;
  margin-bottom: 40px;
}

.omoss-info-about h1 {
  font-size: 28px;
  font-weight: 600;
  font-family: $rubriker;
}

.omoss-info-about p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $texter;
}

.omoss-info-about i {
  font-style: italic;
  font-family: $texter;
}

@media screen and (min-width: 768px) {
  .omoss-container .omoss-green {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.omoss-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5em;
  gap: 100px 50px;
}

.omoss-container .omoss-green {
  background-color: $green1;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 330px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.omoss-container .omoss-green img {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  height: 300px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.omoss-container .omoss-green h3,
.omoss-container .omoss-green p,
.omoss-container .omoss-green h4 {
  justify-content: center;
  display: flex;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 280px;
  overflow-wrap: break-word;
}

.omoss-container .omoss-green p {
  margin-bottom: 40px;
  font-family: $texter;
}

.omoss-container .omoss-green h4 {
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 40px;
}

.omoss-container .omoss-green h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.omoss-container .omoss-green p:first-of-type {
  padding-bottom: 40px;
}

