body {
    background-color: $notwhite;
    min-width: 370px;
    margin: 0;
}
main {
    margin-top: 150px;
    margin-bottom: 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $notwhite;
    padding: 0;

    h1 {
        margin-bottom: 20px;
        font-family: $rubriker;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
    
    gap: 100px 50px;
    
    .green {
        background-color: $green1;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 60%;
        min-width: 291px;
        max-width: 465px;
        max-height: 911px;
        min-height: 743px;
        flex-direction: column;

        .buffe-menu{
        background-color: white;
        position: relative;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: .3rem;
        height: 100%;
        min-height: 670px;
        padding-bottom: 2rem;

        }
        
        .image-container{
            width: 93%;
            max-width: 405px;
            height: 173px;            
           
            margin-top: .3rem;
            
            border-radius: 20px;
            overflow: hidden;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
        
      
    }
}
.image-container-fixed {
    margin-top: .3rem;
}
.title-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
    .h2-meny {
        font-size: 20px;
        margin-bottom: 0;
        color: black;
        font-family: $rubriker;

    }
    h3 {

        font-family: $rubriker;
        font-size: 14px;
        margin: 0px;
        margin-right: 11px;
        color: black;
        opacity: 0.8;
        margin-bottom: 1rem;
    }
}

.buffe-menu p {
    
    font-family: $texter;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.boka:hover{
    background-color: $green2;
}

.label-select {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 3rem;
    
}



.label-select select {
    
    font-family: $texter;
    background-color: $green1;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    appearance: none;
}

.boka {
    background-color: $green1;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.boka:hover, .label-select select:hover {
    background-color: #213638;
}

.label-select select:focus {
    outline: none;
}

@media screen and (min-width: 1000px) {
    .label-select {
        flex-direction: row;
    }
    .image-container {
        margin-top: 0;
    }
}

}