//variables and mixins
@import "./partials/partials_justina/variables";
@import "./partials/partials_justina/mixins";
@import "./partials/partials_sebastian/variables";

//sektions
@import "./partials/partials_justina/header";
@import "./partials/partials_justina/body_kontakt";
@import "./partials/partials_sebastian/footer";
@import "./partials/partials_justina/index_sida.scss";
