@import "./partials/partials_robin/variables";
@import "./partials/partials_justina/variables";
@import "./partials/partials_justina/mixins";
@import "./partials/partials_sebastian/variables";

@import "./partials/partials_justina/header";
@import "./partials/partials_robin/body_robin";
@import "./partials/partials_sebastian/footer";

