.wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:$beige;
    padding: 20px 10px;
    min-height: 80vh;
    gap: 20px;

    @media (min-width:820px) {
        align-items: flex-start;
    }
}


main{
    margin-top: 120px;
    margin-bottom: 20px;

    @media (min-width: 820px) {
        margin-top: 140px;
    }
}

h1{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: $font-size-big;
    padding: 20px 0;
}

h2{
    display: flex;
    justify-content: center;
    font-size: $font-size-medium;
    font-family: $font-rubrik;
    margin-bottom: 30px;
    color: white;
    min-width: 100%;
}

h2:last-of-type{
    margin-bottom: 15px;
    padding-top: 20px;
}

.field{
    gap: 5px;
    

    label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size:$font-size-small;
        color:white;
        font-family: $font-text;
    }

    .text{
        padding: 8px;
        border: none;
        font-family: $font-text;
        font-size: $font-size-small;
        background-color:white;
        color: black;
        border-radius: 10px;
        margin:10px 0;
        width: 50%;
    }
    
}

select{
    all: unset;
    font-family: $font-text;
    font-size: small;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

#city:hover{
    background-color: $dark-beige;
    cursor: pointer;
}



#Plock_och_Gott_Restaurant{
    width: 360px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;

    @media (min-width: 900px) {
        width: 400px;
    }
}

main section{
    min-width: 320px;
    flex-wrap: wrap;
    height: fit-content;
    background-color: $green;
    border-radius: 10px;

    @media (min-width: 900px) {
        min-width: 350px;
    }

}

.form, .info{
    padding: 20px;
}

label:last-of-type{
    align-items: flex-start;
}

span{
    display: block;
    font-size: $font-size-medium;
    color: white;
    font-family: $font-text;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;

    h2{
        @media (min-width: 777px) {
            padding: 20px 0;

        }

        @media (min-width: 899px) {
            padding: 20px 0;
        }
    }
    a{
        font-family: $font-text;
        font-style: italic;
    }

}

a{
    color: $beige;
    font-size: unset;
    font-weight: 600;
}


.icon{
    width: 50px;
}

.company_logo{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

    @media (min-width: 777px) {
        padding-top: 60px;
    }

    @media (min-width: 899px) {
        padding-top: 60px;
    }
}

.text.small{
    height: 40px;
    margin-right: 5px;
    padding: 5px;

}

.form{
    @media (min-width: 777px) {
        min-height: 680px;
    }

    @media (min-width: 899px) {
        min-height: 710px;
    }
}

.text.small:first-of-type{
    width: 90px;

    @media (min-width: 900px) {
        width: 100px;
    }

}
.text.small:last-of-type{
    width: 130px;

}

.wrap-time{
    display: flex;  
}

div.wrap-p{
    text-align: center;
    min-width: 300px;

}

input.text.text.small{
    cursor: pointer;
}

#wrap-l{
    all: unset;
    color: white;
    font-family: $font-text;
    font-size: small;

    input{
    width: unset;
    margin: 0 10px;
    cursor: pointer;
    }
}

.text.send{
    display: block;
    margin: 30px auto 10px auto;
    width: 25%;
    padding: 10px 5px;
    background-color: $dark-beige;

    cursor: pointer;
}

section.info{

    div.links{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    @media (min-width: 777px) {
        min-height: 445px;
    }

    @media (min-width: 899px) {
        min-height: 410px;
    }
}