//font families

$font-text:'Arima';
$font-rubrik:'Inria Serif';


//font sizes 

$font-size-small:16px;
$font-size-medium:20px;
$font-size-big:40px;


//colours

$green:#055C64;
$darker-green:#034349;
$beige:#FFF3E3;
$dark-beige:#F3CA94;